.footer {

    background-image: url("../img/footer-bg.jpg");
    

}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;

    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

}

.col {
    margin: 0;
}

.list {
    max-width: 100%;
    padding: 20px;
    list-style: none;

    h2 {
        color: #ffffff;
        text-transform: uppercase;
    }

    a {

        text-decoration: none;
        color: #63676b;
        font-size: 0.7rem;


    }
    a:hover{
        color: #ffffff;
    }


}

.image {
    
    position: absolute;
    right: 0;
    top: -20%;
    
}