.main {

    background-color: black;
    width: 100%;
    padding: 50px 0;

}


.card {

    width: calc(100% / 7);
    text-align: center;
    overflow: hidden;
    height: 240px;


    img {
        height: 80%;
        width: 300px;
        object-fit: cover;

    }


    p {
        height: 20%;
        display: block;

    }

}

.inner {
    border: #ffffff;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}